html {
    height: 100%;
    width: 100%;
  }

body {
    background: white;
    margin: 0%;
    color: black;
    font-family: 'Cairo', sans-serif;
}

.projectone {
    color: black;
    width: calc(45%);
    text-align: left;
    float: left;
    margin-top: calc(4vmin);
    margin-left: calc(5vmin);
}

.layout {
    align-items: center;
    width: 100%;
    margin: auto;
  }

.projecttwo {
    color: black;
    width: calc(45%);
    float: left;
    margin-left: calc(10vmin);
    margin-top: calc(4vmin);
  }

  .layoutImage {
    align-items: center;
    width: 100%;
    margin: auto;
  }

  .pictureOne {
    color: black;
    width: calc(45%);
    height: calc(300px);
    float: left;
    margin-left: calc(5vmin);
    margin-top: calc(4vmin);
  }

  .pictureTwo {
    color: black;
    width: calc(45%);
    height: calc(300px);
    float: left;
    margin-left: calc(10vmin);
    margin-top: calc(4vmin);
  }

  a {
    color: #020202;
  }
  a:visited {
    color: rgb(216, 28, 22);
  }
  a:hover, a:active, a:focus {
    color:rgb(30, 111, 216);
  }
