html {
  height: 100%;
  width: 100%;
}

.bg-dark {
  background: linear-gradient(90deg, #283048, #859398) !important;
}

body {
  background: linear-gradient(90deg, #283048, #859398);
  margin: 0%;
  color: black;
  font-family: 'Cairo', sans-serif;
}

.hiking {
  width: 100%;
}

.hiking h3 {
  font-size: calc(2vw);
  margin-top: calc(1vh);
  color: rgb(204, 204, 204);
  text-align: center;
  text-decoration: underline;
}

.layout {
  align-items: center;
  width: 100%;
  margin-bottom: calc(8vh);
}

.layout h1 {
  margin: calc(4vh) 0 calc(2vh) calc(4vh);
  font-size: calc(2vw);
  color: white;
}

.layoutImage {
  display: flex;
  flex-direction: row;
}

.pictureOne {
  color: black;
  width: calc(100%);
  height: calc(40vh);
  float: left;
  margin-left: calc(3%);
}

.imgOne {
  width: 95%;
  height: calc(43vh);    
}

.imgTwo {
  width: 95%;
  height: calc(43vh);
}

.pictureTwo {
  color: black;
  width: calc(100%);
  height: calc(300px);
  float: left;
}
