@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
  height: 100%;
  width: 100%;
}

.bg-dark {
  background: linear-gradient(90deg, #283048, #859398) !important;
}

body {
  background: linear-gradient(90deg, #283048, #859398);
  margin: 0%;
  color: black;
  font-family: 'Lato', sans-serif;
}

.hiking {
  width: 100%;
  padding-bottom: 50px;
}

.hiking h3 {
  font-size: calc(36px);
  margin-top: calc(1vh);
  color: #FF7F50;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.layout {
  align-items: center;
  width: 100%;
  margin-bottom: calc(8vh);
}

.layout h1 {
  margin: calc(4vh) 0 calc(2vh) calc(4vh);
  font-size: calc(24px);
  color: #93e9be;
  font-family: 'Montserrat', sans-serif;
}

.layoutImage {
  display: flex;
  flex-direction: row;
}

.pictureOne {
  color: black;
  width: calc(100%);
  height: calc(40vh);
  float: left;
  margin-left: calc(3%);
}

.imgOne {
  width: 95%;
  height: calc(43vh);    
}

.imgTwo {
  width: 95%;
  height: calc(43vh);
}

.pictureTwo {
  color: black;
  width: calc(100%);
  height: calc(300px);
  float: left;
}
