@import url('https://fonts.googleapis.com/css2?family=B612&family=Fjalla+One&family=Montserrat:wght@600&display=swap');

/* Start of navigation bar design */
.topnav {
    background-color: rgb(27, 27, 27);
    overflow: hidden;
    font-family: 'Cairo', sans-serif;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #fffdfd;
    text-align: center;
    padding: calc(14px) calc(16px);
    text-decoration: none;
    font-size: calc(2.5vmin);
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(95, 188, 231);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  /* End of navigation bar design */