/* Start of navigation bar design */
.topnav {
    background-color: rgb(87, 85, 85);
    overflow: hidden;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: calc(14px) calc(16px);
    text-decoration: none;
    font-size: calc(2.5vmin);
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(42, 185, 166);
    color: white;
  }
  /* End of navigation bar design */