html {
    height: 100%;
    width: 100%;
  }

body {
    background: white;
    margin: 0%;
    color: black;
    font-family: 'Cairo', sans-serif;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  float: left;
}

.project {
  display: flex;
  float: left;
  flex-direction: row;
  border: 1px solid black;
  padding-bottom: calc(2vmin);
  font-size: calc(3vmin);
}

.project-name {
  width: 50%;
  margin-left: calc(20vmin);
  margin-top: calc(1vmin);
}

.description {
  width: 40%;
  margin-top: calc(1vmin);
  line-height: 1.0;
}

.icons {
  width: 20%;
  margin-top: calc(1vmin);
  float: right;
  display: flex;
}

.icons span {
  margin-right: calc(2vmin);
  margin-left: calc(2vmin);
}