@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');

html {
    height: 100%;
    width: 100%;
  }

body {
    background: white;
    margin: 0%;
    color: black;
    font-family: 'B612', sans-serif;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  float: left;
}

.project {
  display: flex;
  float: left;
  flex-direction: row;
  border-collapse: collapse;
}

.project-name {
  font-family: 'Oswald', sans-serif;
  width: 40%;
  display: flex;
  float: left;
  flex-direction: column;
}

.title {
  font-size: calc(2.5vw);
  margin-left: calc(5vw);
  margin-bottom: 0;
}

.description {
  margin-top: calc(1vw);
  font-size: calc(1.5vw);
  margin-left: calc(10vw);
  margin-bottom: calc(.7vw);
  line-height: 1.0;
  font-family: 'B612', sans-serif;
}

a:hover {
  color: rgb(42, 180, 226);
}

a:visited {
  color: red;
}

.icons {
  width: 20%;
  margin-top: calc(.8vw);
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(2vw);
}

.icons span {
  margin-right: calc(1vw);
  margin-left: calc(1vw);
}

.space {
  margin: calc(.2vw);
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }

  .project-name {
    width: calc(65%);
  }

  .project-name p {
    font-size: calc(3.5vw);
  }

  .icon {
    width: calc(100%);
  }

  .icons p {
    font-size: calc(5vw);
    margin-left: calc(10vw);
  }
}