@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
  height: 100%;
  width: 100%;
}

.bg-dark {
  background: linear-gradient(90deg, #283048, #859398) !important;
}

body {
  background: linear-gradient(90deg, #283048, #859398);
  margin: 0%;
  color: white;
  font-family: 'Lato', sans-serif;
}

.container {
  min-width: 100%;
  display: grid;
  grid-template-columns: calc(50%) calc(50%);
  grid-template-rows: calc(15vh);
  margin-bottom: calc(8vh);
}

.project-image, .project-image-mobile {
  max-width: calc(100%);
  margin: calc(1vw);
  margin-left: calc(0vw);
  justify-content: center;
  text-align: center;
  align-items: center;
}

.project-image img {
  height: calc(38vh);
  width: auto;
  border-radius: calc(1rem);
  border: none;
  box-shadow: 4px 4px 15px #283048;
  cursor: pointer;
}

.project-image-mobile img {
  height: calc(50vh);
  width: auto;
}

/* The text description for the project
project-name refers to the actual text
project is simply the div surrounding it 
*/

.project {
  width: 100%;
  display: flex;
  float: left;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.project-name-right, .project-name-left {
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  display: flex;
  float: left;
  flex-direction: column;
  font-size: calc(1.12vw);
}

.project-name-left {
  color: rgb(252, 252, 252);
}

.project-name-right{ 
  color: rgb(241, 239, 239);
}

.title-div {
  grid-column: 1 / span 2;
  text-align: center;
}

.title {
  color: rgb(255, 255, 255);
  font-size: calc(2.5vw);
  font-variant: small-caps;
  width: auto;
  margin-left: calc(2vw);
  margin-bottom: 0;
}

a:visited {
  color: rgb(248, 70, 70);
}

.icons-div {
  display: flex;
  justify-content: left;
  text-align: left;
  min-width: calc(20vw);
  right: 0;
}

.icons {
  margin-top: calc(.8vw);
  float: left;
  align-items: center;
  font-size: calc(2vw);
}

.fa-git {
  color: rgb(58, 58, 58)!important;
  transition: ease-in 0.3s;
}

.fa-git:hover {
  color: rgb(255, 255, 255) !important;
  transition: ease-out 0.3s;
}

#git-college-shark, #git-bloggers, #git-calorie, #git-events, #git-location {
  padding: calc(0.2vw);
  border-radius: calc(1rem);
}

#git-college-shark:hover, #git-bloggers:hover, #git-calorie:hover, #git-events:hover, #git-location:hover {
  cursor: pointer;
}

.icons span {
  margin-right: calc(1vw);
  margin-left: calc(1vw);
}

.space {
  margin: calc(0.8vw);
}

@media screen and (max-width: 780px) {
  .container {
    min-width: 100%;
    display: grid;
    border: 1px solid black;
    grid-template-columns: calc(100%);
    margin-bottom: calc(8vh);
  }

  .project-name-right, .project-name-left {
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    display: flex;
    float: left;
    flex-direction: column;
    font-size: calc(1.12vw);
  }
  
  .project-name-left {
    color: rgb(252, 252, 252);
  }
  
  .project-name-right{ 
    color: rgb(241, 239, 239);
  }
  
  .title-div {
    grid-column: 1 / span 2;
    text-align: center;
  }
  
  .title {
    color: rgb(255, 255, 255);
    font-size: calc(2.5vw);
    font-variant: small-caps;
    width: auto;
    margin-left: calc(2vw);
    margin-bottom: 0;
  }

  .icons-div {
    max-width: calc(30vw);
    right: calc(3vw);
    justify-content: left;
    text-align: left;
  }

  .icons {
    float: right;
    width: calc(100%);
  }

  .icons p {
    font-size: calc(5vw);
  }

  .project-image, .project-image-mobile {
    max-width: calc(100%);
    margin: calc(1vw);
    margin-left: calc(0vw);
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  .project-image img {
    height: calc(30vh);
    width: auto;
    border-radius: calc(1rem);
    border: none;
    box-shadow: 4px 4px 15px #283048;
    cursor: pointer;
  }
  
  .project-image-mobile img {
    height: calc(30vh);
    width: auto;
  }
}