@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
    height: 100%;
    width: 100%;
}

.bg-dark {
    background: linear-gradient(90deg, #283048, #859398) !important;
}

body {
    background: linear-gradient(90deg, #283048, #859398);
    margin: 0%;
    font-family: 'Lato', sans-serif;
}

.resumedisplay {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: calc(3vw);
}

.resumelink {
    width: 100%;
    font-size: calc(36px);
    font-style: oblique;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: calc(40px);
}

.resumelink a {
    color: #FF7F50;
}

.resumelink a:hover {
    color: #f54809; 
    text-decoration: none;
}
