@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Playfair+Display:wght@700&display=swap');
  
  html {
    height: 100%;
    width: 100%;
  }
  
  body {
    background: white;
    margin: 0;
    font-family: 'Cairo', sans-serif;
  }
  
  .layout {
    align-items: center;
    width: 100%;
  }
  
  /*personal image of myself */
  .picture {
    width: calc(40%);
    height: calc(5vw);
    float: left;
    padding-left: calc(5vw);
    padding-top: calc(5vw);
  }

  .imgOne {
    border-radius: 50%;
  }

  /* right side of the layout */
  .bio {
    width: calc(40%);
    border-radius: 20%;
    text-align: center;
    float: left;
    margin-top: 0px;
    margin-left: calc(4vw);
  }

  /* text on the right side of the home page */
  .header {
    font-family: 'Playfair Display', serif;
    font-size: calc(3.3vw);
    color: black;
    background-color: rgb(149, 225, 238);
    border-radius: calc(1.5vw);
    padding-bottom: calc(.5vw);
  }

  h2{
    margin-top: calc(1vw);
    font-size: calc(1.5vw);
    color: black;
  }

  h3 {
    padding: calc(.8vw);
    border-radius: calc(1vw);
    font-size: calc(1.5vw);
    color: black;
    text-align: center;
    border: 1px solid black;
  }

  h4, h5 {
    font-size: calc(1.5vw);
    font-style: bold;
    color: black;
  }

  .link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: calc(3.5vw);
    width: calc(3.5vw);
    background-color: #43474b;
    color: #fff;
    border-radius: 100%;
    font-size: calc(1.5vw);
    margin-right: calc(1.5vw);
  }

  .link:visited {
    color: rgb(248, 248, 248);
  }
  
  .link:hover, .link:active, .link:focus {
    color:rgb(56, 210, 221);
  }

  @media screen and (max-width: 600px) {
    .picture, .bio {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }

    .picture {
      height: calc(60vw);
      width: calc(80vw);
      display: flex;
      justify-content: center;
    }

    .bio h1{
      font-size: calc(6vw);
    }

    .bio h2 {
      font-size: calc(4vw);
    }

    .bio h3, .bio h5{
      font-size: calc(4vw);
    }

    .link {
      height: calc(7.5vw);
      width: calc(7.5vw);
      font-size: calc(3.75vw);
    }
  }

