  html {
    height: 100%;
    width: 100%;
  }
  
  body {
    background: white;
    margin: 0;
    font-family: "Palatino Linotype", "Book Antiqua", serif;
  }
  
  .layout {
    align-items: center;
    width: 100%;
  }
  
  /*personal image of myself */
  .picture {
    width: calc(40%);
    height: calc(100px + 1vmin);
    float: left;
    padding-left: calc(7vh + 1vmin);
    padding-top: calc(10vmin);
  }

  .imgOne {
    border-radius: 50%;
  }

  /* right side of the layout */
  .bio {
    width: calc(40%);
    height: calc(10vh);
    border-radius: 20%;
    text-align: center;
    float: left;
    margin-top: 0px;
    margin-left: calc(5vmin);
  }

  /* text on the right side of the home page */
  .header {
    font-size: calc(40px + 2vmin);
    color: black;
  }

  h2{
    margin-top: calc(17vmin);
    color: black;
  }

  h3 {
    margin-top: calc(4vmin);
    font-size: calc(18px + 1vmin);
    color: black;
    text-align: center;

  }

  h4, h5 {
    font-size: calc(5px + 2vmin);
    font-style: bold;
    color: black;
  }

  .link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }

  .link:visited {
    color: rgb(248, 248, 248);
  }
  
  .link:hover, .link:active, .link:focus {
    color:rgb(103, 156, 226);
  }

  .email {
    
  }

