html {
    height: 100%;
  }

body {
    background: linear-gradient(to bottom, rgb(142, 144, 145) 0%, rgb(53, 54, 54) 100%);
    margin: 0%;
}

.projectone {
    color: rgb(116, 200, 221);
    width: 45%;
    height: 300px;
    text-align: left;
    float: left;
    padding-top: 45px;
    padding-left: 50px;
}

.layout {
    align-items: center;
    width: 100%;
    margin: auto;
  }

.projecttwo {
    color: rgb(116, 200, 221);
    width: 45%;
    height: 300px;
    float: left;
    padding-left: 80px;
    padding-top: 45px;
  }

  a {
    color: #e6e7e9;
  }
  a:visited {
    color: rgb(244, 245, 248);
  }
  a:hover, a:active, a:focus {
    color:rgb(155, 148, 148);
  }
