html {
    height: 100%;
  }

body {
    background: linear-gradient(to bottom, rgb(142, 144, 145) 0%, rgb(53, 54, 54) 100%);
    margin: 0%;
}

.projectone {
    color: rgb(116, 200, 221);
    width: calc(45%);
    height: calc(300px);
    text-align: left;
    float: left;
    margin-top: calc(4vmin);
    margin-left: calc(5vmin);
}

.layout {
    align-items: center;
    width: 100%;
    margin: auto;
  }

.projecttwo {
    color: rgb(116, 200, 221);
    width: calc(45%);
    height: calc(300px);
    float: left;
    margin-left: calc(10vmin);
    margin-top: calc(4vmin);
  }

  .layoutImage {
    align-items: center;
    width: 100%;
    margin: auto;
  }

  .pictureOne {
    color: rgb(116, 200, 221);
    width: calc(45%);
    height: calc(300px);
    float: left;
    margin-left: calc(5vmin);
    margin-top: calc(4vmin);
  }

  .pictureTwo {
    color: rgb(116, 200, 221);
    width: calc(45%);
    height: calc(300px);
    float: left;
    margin-left: calc(10vmin);
    margin-top: calc(4vmin);
  }

  a {
    color: #e6e7e9;
  }
  a:visited {
    color: rgb(244, 245, 248);
  }
  a:hover, a:active, a:focus {
    color:rgb(155, 148, 148);
  }
