html {
    height: 100%;
  }

body {
    background: linear-gradient(to bottom, rgb(118, 120, 121) 0%, rgb(53, 54, 54) 100%);
    margin: 0%;
}

.projectone {
    color: rgb(22, 176, 214);
    width: 45%;
    height: 300px;
    text-align: left;
    float: left;
    padding-top: 45px;
    padding-left: 50px;
}

.layout {
    align-items: center;
    width: 100%;
    margin: auto;
  }

.projecttwo {
    color: rgb(22, 176, 214);
    width: 45%;
    height: 300px;
    float: left;
    padding-left: 80px;
    padding-top: 45px;
  }
