html {
    height: 100%;
  }

body {
    background: linear-gradient(to bottom, rgb(95, 96, 97) 0%, rgb(51, 52, 53) 100%);
    margin: 0%;
}

.resumedisplay {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.resumelink {
    width: 100%;
    font-size: 50px;
    font-style: oblique;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    color: rgb(150, 199, 196);
}

.goback {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;   
    color: rgb(150, 199, 196);
}

a {
    color: rgb(150, 199, 196);
}
