html {
    height: 100%;
  }

body {
    background: linear-gradient(to bottom, rgb(142, 144, 145) 0%, rgb(53, 54, 54) 100%);
    margin: 0%;
}

.resumedisplay {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: calc(3vmin);
}

.resumelink {
    width: 100%;
    font-size: calc(7vmin);
    font-style: oblique;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: calc(40px);
    color: rgb(116, 200, 221);
}

.goback {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: calc(40px);   
    color: rgb(116, 200, 221);
}

a {
    color: rgb(116, 200, 221);
}
