  html {
    height: 100%;
  }
  
  body {
    background: linear-gradient(to bottom, rgb(95, 96, 97) 0%, rgb(51, 52, 53) 100%);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .layout {
    align-items: center;
    width: 100%;
    margin: auto;
  }
  
  /*personal image of myself */
  .picture {
    width: 35%;
    height: 300px;
    float: left;
    padding-left: 50px;
    padding-top: 65px;
  }

  img {
    border-radius: 50%;
  }

  /* right side of the layout */
  .bio {
    width: 35%;
    height: 300px;
    text-align: center;
    float: left;
    margin-top: 0px;
    padding-left: 50px;
  }

  /* text on the right side of the home page */
  .header {
    font-size: 60px;
    color: rgb(150, 199, 196);
  }

  h2{
    padding-top: 20px;
    color: rgb(150, 199, 196);
  }

  h3 {
    padding-top: 10px;
    font-size: xx-large;
    color: rgb(150, 199, 196);
    text-align: center;
    font-size: medium;

  }

  h4 {
    font-size: 20px;
    font-style: bold;
    color: rgb(150, 199, 196);
  }